* {margin: 0; padding: 0;}

.page_about {
  width: 990px;
  margin: 0 auto 60px;
}
.page_about > div {
  margin-bottom: 20px;
}
.page_about > div img {
  width: 990px;
}
.page_about > div img:hover {
  cursor: pointer;
}
.page_about > div p {
  display: none;
  font-size: 12px;
  padding: 20px 0;
}