.page_cart {
  width: 1515px;
  text-align: center;
  margin: 100px auto 150px;
}

.page_cart Table {
  margin-top: 50px;
}
.page_cart Table:first-child tbody td {
  height: 115px;
}
.page_cart Table tbody td.item_img img {
  width: 100px;
}
.page_cart Table tbody td.item_item {
  line-height: 115px;
}
.page_cart Table tbody td.item_count {
  padding-top: 30px; box-sizing: border-box;
}
.page_cart Table tbody td.item_price {
  line-height: 115px;
}
.page_cart Table tbody td.item_cancle {
  padding-top: 50px; box-sizing: border-box;
}
.page_cart Table tbody td button {
  width: 30px; height: 30px;
  border: 1px solid #ccc;
}
.page_cart Table tbody td button.minus {
  margin-right: 5px;
}
.page_cart Table tbody td button.cancle {
  width: 50px;
  font-size: 12px;
}