* {
  margin: 0; padding: 0;
}

.page_detail {
  display: flex;
  justify-content: space-between;
  width: 990px;
  margin: 50px auto 100px;
}

.page_detail .product_txt {
  width: 400px;
}
.page_detail .product_txt .product_details {
  font-size: 13px;
  white-space: pre-wrap;
  margin-top: 50px;
}

.page_detail .cart_btn {
  width: 150px; height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 100px;
  overflow: hidden;
}
.page_detail .cart_btn:hover {
  background-color: black;
  color: #fff;
  transition: all 0.5s;
}