* {
  margin: 0; padding: 0;
}

.page_detail {
  display: flex;
  justify-content: space-between;
  width: 990px;
  margin: 50px auto 100px;
}

.page_detail .product_txt {
  width: 400px;
}
.page_detail .product_txt .product_details {
  font-size: 13px;
  white-space: pre-wrap;
  margin-top: 50px;
}

.page_detail .cart_btn {
  width: 150px; height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 100px;
  overflow: hidden;
}
.page_detail .cart_btn:hover {
  background-color: black;
  color: #fff;
  transition: all 0.5s;
}

.page_detail .cart_popup {
  width: 300px; height: 180px;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  padding-top: 50px;
  position: fixed;
  top: calc(50vh - 90px); left: calc(50vw - 150px);
}
.page_detail .cart_popup button {
  border: 1px solid #ccc;
  margin-top: 10px;
  padding: 5px 10px;
}
.page_detail .cart_popup .no {
  margin-right: 10px;
}