* {margin: 0; padding: 0;}

.page_shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1515px;
  margin: 0 auto;
}

.page_shop .product_txt {
  width: 485px;
  text-align: center;
  margin: 10px auto 50px;
}
.page_shop .product_txt .product_name {
  font-size: 14px;
  font-weight: 600;
}
.page_shop .product_txt .product_price {
  font-size: 12px;
  margin-top: 5px;
}